git+https://github.com/erikriver/opengraph.git
-e git+https://github.com/drivet/indieweb-utils.git#egg=indieweb-utils
attrs==19.1.0
beautifulsoup4==4.8.2
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-IndieAuth==0.0.3.2
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.2
MarkupSafe==1.1.1
mf2py==1.1.2
mf2util==0.5.1
micawber==0.5.1
Pillow==6.2.0
pyrsistent==0.15.4
python-dateutil==2.8.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.5
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==0.15.5
